*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
transition:0.3s;
}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:#121212;
color:white;

}

/* LIGHT MODE */
body.light{
background:#f5f5f5;
color:black;
}

.container{
text-align:center;
}

.top-bar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

#toggleBtn{
padding:8px 12px;
border:none;
border-radius:6px;
cursor:pointer;
background:#333;
color:white;
}

body.light #toggleBtn{
background:#ddd;
color:black;
}

.board{

display:grid;
grid-template-columns:repeat(3,90px);
gap:10px;
justify-content:center;
margin:20px 0;

}

.cell{

width:90px;
height:90px;
background:#1e1e1e;
display:flex;
align-items:center;
justify-content:center;
font-size:35px;
cursor:pointer;
border-radius:10px;

}

body.light .cell{
background:#fff;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.cell:hover{
transform:scale(1.05);
}

button{
padding:10px 20px;
border:none;
border-radius:6px;
cursor:pointer;
background:#00c853;
color:white;
}